@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #ffffff;
  color: #000000;
}

.wrapper {
  width: 85%;
  margin: auto;
  padding: 30px;
  background-color: transparent;
}

.header-main {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo h1 {
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
  margin-left: 10px;
}

.op-logo {
  width: 60px;
  height: 60px;
}

.header-nav {
  display: flex;
  gap: 25px;
}

.h-link {
  color: #68778d;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.h-link:hover {
  color: #ff1420;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  position: relative;
  margin-top: 5vh;
  text-align: center;
}

.footer h3 {
  font-weight: lighter;
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipside-logo {
  width: 250px;
  height: 60px;
}

.footer-links {
  text-decoration: none;
  color: #000000;
}

.footer-links:visited {
  text-decoration: none;
  color: #000000;
}

.triple {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.big-numbers {
  padding: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.big-numbers h1 {
  color: #3d4147;
  margin-bottom: 10px;
  font-size: xxx-large;
}

.big-numbers h2 {
  color: #ff1420;
  font-size: medium;
}

.single-main {
  margin: auto;
  padding: 20px;
  background-color: transparent;
  margin-bottom: 20px;
}

.title-date {
  width: 90%;
  margin: auto;
}

.table-title {
  margin-bottom: 10px;
}

.table-wrapper {
  position: relative;
}

.table-scroll {
  max-height: 700px;
  overflow: auto;
  margin-bottom: 10px;
}

.table-main {
  border-collapse: collapse;
  width: 90%;
  min-height: 500px;
  max-height: 500px;
  margin: auto;
  box-shadow: 0 0 20px #00000026;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  font-size: smaller;
}

.table-main thead tr {
  background-color: #3d4147;
  color: #ffffff;
  border-left: 2px solid #3d4147;
  border-right: 2px solid #3d4147;
}

.table-main th,
td {
  padding: 12px 15px;
}

.table-main tbody tr {
  border-bottom: 1px solid #00000026;
  border-left: 2px solid #3d4147;
  border-right: 2px solid #3d4147;
}

.table-main tbody tr:hover {
  background-color: #eceeef;
  color: #ff1420;
}

.table-main tbody tr:last-of-type {
  border-bottom: 2px solid #3d4147;
}

.table-main a {
  text-decoration: none;
  color: inherit;
}

.table-main a:visited {
  text-decoration: none;
  color: inherit;
}

.validator-voters {
  text-align: center;
}

.validator-shares {
  text-align: center;
}

th.first-column {
  text-align: start;
}

.sorter {
  cursor: pointer;
}

.pagjawn {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: small;
}

.pagination {
  border-radius: 0.25rem;
}
.page-item {
  display: inline;
}
.page-item:first-child .page-link {
  margin-left: 0;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
.page-item:last-child .page-link {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #ff1420;
  border-color: #ff1420;
}
.page-item.disabled .page-link,
.page-item.disabled .page-link:focus,
.page-item.disabled .page-link:hover {
  color: #818a91;
  pointer-events: none;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.page-link {
  position: relative;
  float: left;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  color: #3d4147;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}
.page-link:focus,
.page-link:hover {
  color: #3d4147;
  background-color: #eceeef;
  border-color: #ddd;
}

.title-date {
  width: 90%;
  margin: auto;
}

.title-date div {
  flex: auto;
}

.date-toggle {
  text-align: right;
  font-weight: bold;
}

.date-toggle button {
  color: #68778d;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  margin-left: 15px;
}

.chart-area {
  width: 90%;
  margin: auto;
}

.double {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  margin-bottom: 20px;
  margin-top: 40px;
}

.small-chart-area {
  min-height: 150px;
  width: 42%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
}

